/.~lock.SlidePuzzle.ods#
/.idea/AIHomework.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/*.ods
/*.csv
/.idea/vcs.xml
/Homework1/searchAlgorithms.py
/Homework2/PSOCode/*
/Homework1/AI_Homework1.pdf
/Homework1/*.ods
/Homework2/*.zip
/Homework1/*.csv
/Homework1/*.xlsx
/Homework2/hw2-1.pdf
/Papers/textclassificationusingTFIDFandLSTM.pdf
